@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
  }

.video-container{
 position: absolute;
 z-index: -6;
 left: 0;
 top: 0;
 right: 0;
 height: 82vh;

 
 & video{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
    .overlay{
        width: 100%;
        height: 100%;
        background-color: #0000007d;
        position: inherit;
    }
}

.movie-info{
  
    margin-top: 8rem;
    // border: green 2px solid;
    @include flex(column);
    gap: 3rem;

}
.movie-title {
    color: white;
    font-size: 4rem;

    &__btns{
        @include flex(row);
        gap: 1rem;

        button{
            border: none;
            border-radius: 5px;
            padding:0.3rem 1rem;

        }
        .play{
            background-color: white;
            color: black;
        }
        .more-info{
            background-color: #5d5c5d95;
            color: white;
            align-items: center;
            gap: 0.2rem;
            
        }
    }
}